<title>My application</title>
<h1>Hello, World!</h1>
Result is {{result}}

<form action="compute" method="post">
    <textarea name="intArray1" rows="10" cols="30">{{intArray1Input}}</textarea>
    <textarea name="intArray2" rows="10" cols="30">{{intArray2Input}}</textarea>
    <textarea name="stringArray" rows="10" cols="30">{{stringArrayInput}}</textarea>
    <input type="text" name="value" value="{{valueInput}}">
    <br>
    <input type="submit">
</form>
